<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.callor.hello.dao.NemoDao">

	<select id="selectAll">
		SELECT * FROM tbl_nemo_play
	</select>
	<select id="findByRow">
		SELECT *
		FROM tbl_nemo_play
		WHERE p_id = #{p_id} AND p_num = #{p_num} AND p_row_num = #{p_row_num}
	</select>
	<insert id="insert">
		INSERT INTO tbl_nemo_play(
		p_id,
		p_num,p_row_num,p_block1,p_block2,p_block3,p_block4,
		p_block5,p_block6,p_block7,p_block8,p_block9,p_block10,p_block11,p_block12,p_block13,
		p_block14,p_block15
		)VALUES ( #{p_id}, #{p_num}, #{p_row_num},
		#{p_block1}, #{p_block2}, #{p_block3}, #{p_block4},
		#{p_block5}, #{p_block6}, #{p_block7}, #{p_block8}, #{p_block9}, #{p_block10},
		#{p_block11}, #{p_block12}, #{p_block13},
		#{p_block14}, #{p_block15}
		)
	</insert>
	
	<select id="findByRow_id">
		SELECT p_id
    	FROM tbl_nemo_play
    	WHERE p_id = #{p_id} AND p_num = #{p_num} AND p_row_num = #{p_row_num}
	</select>
	<select id="findByRow_num">
		SELECT p_num
    	FROM tbl_nemo_play
    	WHERE p_id = #{p_id} AND p_num = #{p_num} AND p_row_num = #{p_row_num}
	</select>
	<select id="findByRow_row_num">
		SELECT p_row_num
    	FROM tbl_nemo_play
    	WHERE p_id = #{p_id} AND p_num = #{p_num} AND p_row_num = #{p_row_num}
	</select>
	
	<update id="update">
		    UPDATE tbl_nemo_play
		    SET
		        p_block1 = #{p_block1},
		        p_block2 = #{p_block2},
		        p_block3 = #{p_block3},
		        p_block4 = #{p_block4},
		        p_block5 = #{p_block5}
		    WHERE
		        p_id = #{p_id} AND
		        p_num = #{p_num} AND
		        p_row_num = #{p_row_num}
	</update>
	<delete id="delete"></delete>

</mapper> 